# MTECH OS — kernel config fragment (inachanganywa na kali/defconfig)
# Zana za kuunganisha akili na kernel:
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_EVENTS=y
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_UPROBES=y
CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_PACKET=y
# Usalama wa msingi:
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_USER_NS=y
CONFIG_CGROUPS=y
CONFIG_MEMCG=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
# Inapeleka jina la MTECH kwenye uname:
CONFIG_DEFAULT_HOSTNAME="mtech-os"
