# Build output
output/

## macOS
.DS_Store

## live-build (lb) artifacts
.build/
binary/
cache/
chroot/
## `lb` will generate this folder, `config`.
##   Which is why our config directory is called `kali-config`
config/
local/
.lock
.mirror
binary.*
chroot.*
live-image-*
